'use strict';

// ----------------------------------------------------------------------------
// THIS IS WHAT YOU MODIFY!
// ----------------------------------------------------------------------------

angular.module('epicjsApp')
  .constant('API_ROOT', 'http://localhost:5000');

// ----------------------------------------------------------------------------
// YOU PROBABLY WILL NEVER WANT TO MODIFY THESE
// ----------------------------------------------------------------------------

// configure the local storage with custom app prefix...
angular.module('LocalStorageModule')
  .value('prefix', 'epicjs');

// set some contracts with the API
angular.module('epicjsApp')
    .constant('KOAN_PLACEHOLDER', '__');


