<div class="row">
    <div class="span6 offset3 well">
        <h1>Zaloguj się</h1>
        <div class="alert alert-error" ng-show="loginForm.$error.credentialsMatch">
            Nie udało się zalogować.
        </div>
        <div class="alert alert-error" ng-show="loginForm.$error.gotResponse">
            Ups... wystąpił błąd.
        </div>
        <ng-form name="loginForm">
            <label for="username">
                Nazwa użytkownika
            </label>
            <input type="text" name="username" id="username" class="input-block-level"
                   placeholder="Login"
                   ng-model="credentials.username">
            <div class="alert alert-error" ng-show="loginForm.username.$invalid">
                Niepoprawna nazwa użytkownika.
            </div>
            <label for="password">
                Hasło
            </label>
            <input type="password" name="password" id="password" class="input-block-level"
                   placeholder="Hasło"
                   ng-model="credentials.password">
            <input type="submit" name="submit" value="Zaloguj" class="btn btn-block btn-large btn-primary"
                   ng-disabled="!credentials.username || !credentials.password"
                   ng-click="attemptLogin()">
        </ng-form>
    </div>
</div>
